<h2>{{title}}</h2>

<select [(ngModel)]="country" (change)="onCountryChange()">
    <option value="">Seleccionar un pais</option>
    <option value="mx">Mexico</option>
    <option value="us">Estados Unidos</option>
    <option value="jp">Japon</option>
</select>

<div id="news-container">
    <div class="grid">
        <div *ngFor="let item of headlines" class="xs-100 md-50 lg-33">
            <h2>{{item.title}}</h2>
            <p>{{item.description}}</p>
            <img src="{{item.urlToImage || 'https://th.bing.com/th/id/OIP.TmXzAfJr8c1Wn2XH7sVpIgHaFu?pid=Api&rs=1'}}"
                alt="" style="max-width: 100%">
            <br>
            <button class="secondary" (click)="window.location.href='item.url'">View details</button>
        </div>
    </div>
</div>