// GRID
$bp-xsmall: 0px;
$bp-small: 600px;
$bp-med: 800px;
$bp-large: 1024px;
$bp-xlarge: 1280px;

// THEMES
$primary-color-darkTheme: rgb(0, 0, 0);
$primary-color-redTheme: rgb(185, 0, 0);

$button-color-darkTheme: rgb(17, 0, 167);
$button-color-redTheme: rgb(255, 255, 255);

$text-color-darkTheme: rgb(233, 233, 233);
$text-color-redTheme: rgb(0, 0, 0);

$background-color-darkTheme: rgb(102, 101, 102);
$background-color-redTheme: rgb(235, 231, 0);

